.list {
    padding-top: 100px;
    text-align: center;
    font-size: 70px;
}
.bg {
    background-color: #87ceeb;
    min-height: 100vh;
}
.center {
    justify-content: center;
    text-align: center;
}