.movies {
    background-color: #e6e6fa;
    min-height: 100vh;
}

.prompt-text{
    padding-top: 100px;
    text-align: center;
    font-size: 70px;
}

.center {
    justify-content: center;
    text-align: center;
}

p {
    font-size: 22px;
    padding-left: 5%;
    padding-right: 5%;
}
