nav {
	top: 0;
	position: fixed;
	display: flex;
	background-color: #7fffd3;
	width: 100%;
	border-bottom: 1px solid grey;
	text-align: center;
}
.logo {
	display: flex;
	font-size: 22px;
	padding: 14px 20px;
	background-color: #7fffd3;
	font-family: 800;
}
#leAnchor {
	margin-top: 20px;
	margin-right: 20px;
}

.logo img {
	width: 30px;
}
nav a {
	color: blue;
	text-decoration: underline;
	text-align: center;
	padding: 20px 15px;
	background-color: #7fffd3;
	font-weight: 400;
	transition: 0.3s ease-in;
}
nav a:hover {
	color: #ff0000;
}
