.search {
    justify-content: center;
    text-align: center;
}

.center {
    justify-content: center;
    text-align: center;
}

.people-text{
    padding-top: 50px;
    text-align: center;
}

#no-results {
    justify-content: center;
    text-align: center;
}